<footer role="contentinfo">
<p>
...we are the normil hawaiians... c/o <a href="mailto:email@normilhawaiians.com">email@normilhawaiians.com</span></a>
</p>
</footer>
</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f2ad7355feb19ae"></script>
