<footer role="contentinfo">
<p>
...we are the normil hawaiians... c/o <a href="mailto:email@normilhawaiians.com">email@normilhawaiians.com</span></a>
</p>
</footer>
</div>
<script type='text/javascript' src='/js/photoswipe-ui-default.min.js?ver=20170621' id='photoswipe-ui-default-js'></script>
<script>
	_stq = window._stq || [];
	_stq.push([ 'view', {v:'ext',j:'1:9.5',blog:'130964976',post:'0',tz:'0',srv:'normilhawaiians.com'} ]);
	_stq.push([ 'clickTrackerInit', '130964976', '0' ]);
</script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
<div class="pswp__bg"></div>
<div class="pswp__scroll-wrap">
<div class="pswp__container">
<div class="pswp__item"></div>
<div class="pswp__item"></div>
<div class="pswp__item"></div>
</div>
<div class="pswp__ui pswp__ui--hidden">
<div class="pswp__top-bar">
<div class="pswp__counter"></div>
<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
<button class="pswp__button pswp__button--share" title="Share"></button>
<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
<div class="pswp__preloader">
<div class="pswp__preloader__icn">
<div class="pswp__preloader__cut">
<div class="pswp__preloader__donut"></div>
</div>
</div>
</div>
</div>
<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
<div class="pswp__share-tooltip"></div>
</div>
<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
<div class="pswp__caption">
<div class="pswp__caption__center"></div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f2ad7355feb19ae"></script>
<script>
    
    var openPhotoSwipe = function(e) {
        console.log("Running script..." + e);
        e.preventDefault();
        
      var pswpElement = document.querySelectorAll('.pswp')[0];
      // build items array

      
      //define options (if needed)
      var options = {
        // history & focus options are disabled on CodePen        
        history: false,
        focus: false,
        showAnimationDuration: 0,
        hideAnimationDuration: 0
      };
      
      var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
      gallery.init();
    };
    document.getElementById('menu-item-81').onclick = openPhotoSwipe;
  </script>