<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    
    <title>Normil Hawaiians &#8211; hmm &#8211; now where were we?</title>

    <link rel='stylesheet' id='style-css' href='/css/style.css?ver=5.7' type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-css' href='/css/photoswipe.css?ver=5.7' type='text/css' media='all' />
    <link rel='stylesheet' id='default-skin-css' href='/css/default-skin.css?ver=5.7' type='text/css' media='all' />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Normil Hawaiians" />
    <meta property="og:description" content="hmm - now where were we?" />
    <meta property="og:url" content="https://normilhawaiians.com/" />
    <meta property="og:site_name" content="Normil Hawaiians" />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
    <meta property="og:locale" content="en_GB" />
  </head>

  <body class="home blog hfeed">
	
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23689405-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23689405-2');
    </script>

    <div id="wrapper">
      <header role="banner">
        <h1>
          <img id="banner" src="/img/banner-v3.png" alt="normil hawaiians" />
        </h1>
        <p class="site-description">hmm &#8211; now where were we?</p>
    		<nav role="navigation">
          <div class="menu-main-menu-container">
            <ul id="primary-menu" class="menu">
              <li id="menu-item-85" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-85">
                <a href="/" aria-current="page">discogogo</a>
              </li>
              <li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81">
                <a href="#">images</a>
              </li>
              <li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88">
                <a href="//bandcamp.normilhawaiians.com/">bandcamp</a>
              </li>
            </ul>
          </div> 
        </nav>
      </header>
      <div class="addthis_inline_follow_toolbox"></div>
<div id="primary" class="content-area">
<main id="main" class="site-main" role="main">
