<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    
    <title>Normil Hawaiians &#8211; hmm &#8211; now where were we?</title>

    <link rel='stylesheet' id='style-css' href='/css/style.css?ver=5.7' type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-css' href='/css/photoswipe.css?ver=5.7' type='text/css' media='all' />
    <link rel='stylesheet' id='default-skin-css' href='/css/default-skin.css?ver=5.7' type='text/css' media='all' />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Normil Hawaiians" />
    <meta property="og:description" content="hmm - now where were we?" />
    <meta property="og:url" content="https://normilhawaiians.com/" />
    <meta property="og:site_name" content="Normil Hawaiians" />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
    <meta property="og:locale" content="en_GB" />

    <script src='/js/bundle.js'></script>
</head>