    <div id="wrapper">
      <header role="banner">
        <h1>
          <img id="banner" src="/img/banner-v3.png" alt="normil hawaiians" />
        </h1>
        <p class="site-description">hmm &#8211; now where were we?</p>
    		<nav role="navigation">
          <div class="menu-main-menu-container">
            <ul id="primary-menu" class="menu">
              <li id="menu-item-85" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-85">
                <a href="/" aria-current="page">discogogo</a>
              </li>
              <li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81">
                <a href="#" id="pswp-button">images</a>
              </li>
              <li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88">
                <a href="//bandcamp.normilhawaiians.com/">bandcamp</a>
              </li>
            </ul>
          </div> 
        </nav>
      </header>
      <div class="addthis_inline_follow_toolbox"></div>
