<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="https://gmpg.org/xfn/11">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<title>Normil Hawaiians – hmm – now where were we?</title>
<link rel='stylesheet' id='style-css' href='/css/style.css?ver=5.7' type='text/css' media='all' />
<meta property="og:type" content="website" />
<meta property="og:title" content="Normil Hawaiians" />
<meta property="og:description" content="hmm - now where were we?" />
<meta property="og:url" content="https://normilhawaiians.com/" />
<meta property="og:site_name" content="Normil Hawaiians" />
<meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
<meta property="og:locale" content="en_GB" />

</head>