</main>
</div>

<hr>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "MusicGroup",
  "url": "http://normilhawaiians.com/",
  "name": "normil hawaiians",
  "album": [
    {
      "@type": "MusicAlbum",
      "name": "More Wealth Than Money",
      "dateCreated": "1982",
      "datePublished": "1982"
    },
    {
      "@type": "MusicAlbum",
      "name": "What's Going On?",
      "dateCreated": "1983",
      "datePublished": "1983"
    },
    {
      "@type": "MusicAlbum",
      "name": "Return of the Ranters",
      "dateCreated": "1986",
      "datePublished": "2016"
    }
  ],
  "member": [
    {
      "@type": "OrganizationRole",
      "member": {
        "@type": "Person",
        "name": "Guy Smith"
      }
    },
    {
      "@type": "OrganizationRole",
      "member": {
        "@type": "Person",
        "name": "Simon Marchant"
      }
    },
    {
      "@type": "OrganizationRole",
      "member": {
        "@type": "Person",
        "name": "Noel Blanden"
      }
    },
    {
      "@type": "OrganizationRole",
      "member": {
        "@type": "Person",
        "name": "Mark Tyler"
      }
    },
    {
      "@type": "OrganizationRole",
      "member": {
        "@type": "Person",
        "name": "Alun 'Wilf' Williams"
      }
    },
    {
      "@type": "OrganizationRole",
      "member": {
        "@type": "Person",
        "name": "Jimmy Miller"
      }
    },
    {
      "@type": "OrganizationRole",
      "member": {
        "@type": "Person",
        "name": "Zinta Egle"
      }
    }
  ]
}
</script>